# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (just in case)
Pods/

# IDE
.idea/
.vscode/
*.swp
*.swo
